@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	:root{
		--color-letters:rgb(253, 249, 249);
		--color-fatima:#f8a603;
		--color-flower:#e87319;
	}
	@font-face{
		font-family: 'Gisela';
		src:url('./fonts/Gisela.otf');
	}
	


	.raleway-robot {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	}
	.ibm-plex-mono-thin {
	  font-family: "IBM Plex Mono", monospace;
	  font-weight: 500;
	  font-style: normal;
	}
	header{
		width: 100%;
		background:  transparent!;
		z-index: 333333;
		position: absolute;
		top: 0;
	}
	h1{
		
		text-align: center;
		color:white;
		font-size: 13rem;
		padding: 1rem;
	}
	.fatima{color:var(--color-fatima); font-size: 3rem;}
	.programmer{ color:var(--color-letters) }
	#btn{
		border: none;
		color: white;
		background-color: black;
		font-size: 1rem;
		cursor: pointer;
		font-family: 'Times New Roman', Times, serif;
	}
	
 
	
	footer{
		width: 100%;
		position: absolute;
		bottom:0;
		display: flex;
		justify-content: center;
		padding: 1rem;
		font-size:5rem;
		background-color: transparent!;

	}
	footer>div{
		text-align: center;
		width: 100%;
		
	}
	.listas{
		display: flex;
		justify-content: space-between;

	}

	/*colore: CC5800;*/
	
	ul li{
		text-align: none;
		list-style: none;
		display: inline-block;
		cursor: pointer;
		
	}

	ul li a {color:var(--color-letters); text-decoration: none;}

	#container3D canvas {
	  width: 100vw !important;
	  height: 100vh !important;
	  position: absolute;
	  top: 0;
	  left: 0;
	  background:  #080808;
	  z-index: -2000;
	}



	@media (min-width:992px){
		footer{font-size: 2rem}
		h1{font-size: 4rem; padding: 1rem;}
		footer>div{
			width: 50%;
		}
		#btn{
			font-size: 2rem;
		}
	} 
	
	